/* NAV */

nav {
  width: 100%;
}

.nav-container {
  z-index: 99;
  padding: 0.7rem 2rem;
  position: fixed;
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  box-shadow: 0px 7px 28px -5px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: 0px 7px 28px -5px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 0px 7px 28px -5px rgba(0, 0, 0, 0.72);
}

/* HERO */



header,
.hero-container {
  width: 100%;
  height: auto;
}

.hero-img img {
  object-fit: cover;
  width: 100%;
  filter: brightness(85%);
  border-bottom: 1px solid black;
}

.hero-img {
  position: relative;
  text-align: center;
}

.hero-header {
  position: absolute;
  top: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-header h1 {
  font-family: var(--header-font);
  color: white;
  font-size: 1.75rem;
  width: 70%;
}

/* PARKS */

.parks {
  margin-top: 10vh;
  width: 100%;
}

/**** INFO ****/

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.info p {
  font-family: var(--body-font);
  font-size: 16px;
  width: 70%;
}

/* PARKS CONTAINER */

.parks-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.park-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.park-wrapper img {
  max-width: 70%;
  border: 1px solid black;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.park-info {
  /* border: 1px solid black; */
  width: 50%;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  color: white;
  background-color: var(--main-color);
  position: absolute;
  right: 10%;
  bottom: -20%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.park-info h3 {
  font-family: var(--header-font);
  font-size: 20px;
}

.park-info p {
  font-weight: 300;
}

.left {
  right: 40%;
}

/* FOOTER */

footer {
  color: white;
  background-color: var(--main-color);
  margin-top: 20vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/****************** RESPONSIVE **********************/

/* TABLET */

@media (min-width:1024px) {

  .hero-img img {
    height: 70vh;
  }

  .hero-header {
    top: 45%;
  }

  .hero-header h1 {
    font-size: 2.7rem;
    width: 50%;
  }

  .info p {
    width: 50%;
  }

  .info p {
    font-size: 18px;
  }

  .park-wrapper img {
    max-width: 50%;

  }

  .park-info {
    border: 1px solid black;
    width: 25%;
    right: 20%;
    bottom: -3%;
  }

  .left {
    right: 55%;
  }

}