@import url(normalize.css);
@import url(reset.css);
@import url(var.css);


/* NAV */

nav {
  width: 100%;
  height: auto;
}

.nav-container {
  z-index: 99;
  padding: 0.7rem 2rem;
  /* position: fixed; */
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  box-shadow: 0px 7px 28px -5px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: 0px 7px 28px -5px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 0px 7px 28px -5px rgba(0, 0, 0, 0.72);
}

/* SWIPER */

.swiper {
  width: 100%;
  height: 50vh;
}

.swiper-slide {
  width: 100%;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 1px solid black;
}

/* DESC */

.park-description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}

.description-wrapper {
  margin-top: 5vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}


.description-wrapper span {
  font-weight: 600;
}

.pages-a {
  color: black;
}

/* LOCATION */

.location {
  width: 100%;
  display: flex;
  justify-content: center;
}

.location-wrapper {
  text-align: center;
  border: 1px solid black;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--main-color);
  color: white;
  padding: 2rem 1rem;
}

.fa-solid {
  padding-right: 2.5vw;
}

/* BACK */

.back-button {
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: var(--body-font);
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem;
}

/* FOOTER */

footer {
  color: white;
  background-color: var(--main-color);

  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}