@import url(normalize.css);
@import url(reset.css);
@import url(var.css);


/* NAV */

nav {
  width: 100%;
}

.nav-container {
  z-index: 99;
  padding: 0.7rem 2.75rem;
  position: fixed;
  width: 100%;
  background-color: var(--main-color);
  justify-content: space-between;
  display: flex;
  align-items: center;
  box-shadow: 0px 7px 28px -5px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: 0px 7px 28px -5px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 0px 7px 28px -5px rgba(0, 0, 0, 0.72);
}

.nav-gallery-wrapper a {
  text-decoration: none;
  font-family: var(--header-font);
  font-size: 0.75rem;
}

.icon {
  font-size: 1rem;
}

/* BG-COLOR */
.park-description,
.location,
.back-button {
  background-color: rgb(255, 255, 255);
}


/* SWIPER */

.swiper {
  width: 100%;
  height: 50vh;

}

.swiper-slide {
  width: 100%;
  height: auto;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 1px solid black;
}

/* DESC */

.park-description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
  color: var(--body-font-color)
}

.description-wrapper {
  margin-top: 5vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}


.description-wrapper span {
  font-weight: 600;
}

.pages-a {
  color: black;
}

/* LOCATION */

.location {
  width: 100%;
  display: flex;
  justify-content: center;
}

.location-wrapper {
  text-align: center;
  border: 1px solid black;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--main-color);
  color: white;
  padding: 2rem 1rem;
}

.left-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.fa-solid {
  padding-right: 2.5vw;
}


.name_coordinates {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.coordinates {
  font-size: 15px;
  font-weight: 500;
}

/* BACK */

.back-button {
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: var(--body-font);
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem;
}

/* FOOTER */

footer {
  color: white;
  background-color: var(--main-color);

  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/************ RESPONSIVE *************/
@media (min-width:640px) and (max-width:1024px) {
  .swiper {
    height: 70vh;
  }

  .description-wrapper {
    width: 60%;
  }

  .location-wrapper {
    width: 60%;
    gap: 2rem;
    border-radius: 10px;
  }

  .name_coordinates {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

  }

  .coordinates {
    padding: 0 2vw;
    font-size: 16px;
    font-weight: 600;
  }


  .left-location {
    width: 50%;
  }


  .fa-solid {
    padding-right: 1vw;
  }

  .maps {
    width: 270px;
  }

  .back-button {
    padding: 4rem;
  }

  button:hover {
    background-color: var(--main-color);
    color: white;
    transition: all 0.3s ease-out;
  }
}

@media (min-width:1024px) and (max-width:1280px) {

  .swiper {
    height: 80vh;
  }

  .description-wrapper {
    width: 60%;
  }

  .location-wrapper {
    width: 60%;
    flex-direction: row;
    border-radius: 10px;
  }

  .name_coordinates {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }

  .coordinates {
    padding: 0 2vw;
    font-size: 16px;
    font-weight: 600;
  }

  .right-location {
    width: 50%;
  }

  .left-location {
    padding-left: 5%;
    width: 50%;
    justify-content: start;
    align-items: start;
  }


  .fa-solid {
    padding-right: 1vw;
  }

  .maps {
    width: 250px;
  }

  button:hover {
    background-color: var(--main-color);
    color: white;
    transition: all 0.3s ease-out;
  }
}


@media (min-width:1280px) and (max-width:1600px) {


  .nav-icon {
    font-size: 1.5rem;
  }

  .nav-container {
    padding: 0.75rem 2rem;
  }

  .swiper {
    height: 80vh;
  }

  .description-wrapper {
    font-size: 20px;
    width: 60%;
  }

  li {
    line-height: 2.5
  }

  .location-wrapper {
    align-items: flex-start;
    font-size: 20px;
    width: 60%;
    flex-direction: row;
    padding: 3rem 2rem;

  }

  .name_coordinates {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }

  .coordinates {
    padding: 0 2vw;
    font-size: 16px;
    font-weight: 600;
  }

  .right-location {
    width: 50%;
  }

  .left-location {
    padding-left: 5%;
    width: 50%;
    gap: 1.1rem;
    display: flex;
    justify-content: start;
    align-items: start;
  }


  .fa-solid {
    padding-right: 1vw;
  }

  .maps {
    width: 100%;
    height: 170px;
  }

  .back-button {
    padding: 4rem;
  }

  button:hover {
    background-color: var(--main-color);
    color: white;
    transition: all 0.3s ease-out;
  }
}

@media (min-width:1600px) {

  .nav-icon {
    font-size: 1.5rem;
  }

  .nav-container {
    padding: 0.5rem 10rem;
  }

  .swiper {
    height: 80vh;
    width: 60%;
  }

  .swiper-slide img {
    object-fit: cover;
    object-position: 0 65%;
  }

  .description-wrapper {
    font-size: 20px;
    width: 60%;
  }

  li {
    line-height: 2.75
  }

  .location-wrapper {
    align-items: flex-start;
    font-size: 18px;
    width: 60%;
    flex-direction: row;
    padding: 2rem 1rem;
  }

  .right-location {
    width: 50%;
  }

  .left-location {
    width: 50%;
    gap: 1.5rem
  }

  .name_coordinates {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }

  .coordinates {
    padding: 0 2vw;
    font-size: 16px;
    font-weight: 600;
  }

  .fa-solid {
    padding-right: 1vw;
  }

  .maps {
    width: 450px;
    height: 200px;
  }

  .back-button {
    padding: 4rem;
  }

  button:hover {
    background-color: var(--main-color);
    color: white;
    transition: all 0.3s ease-out;
  }
}